footer {
    text-align: center;
    padding-bottom: 20px;
    background: #f8bbd0;
    border-top: 2px solid #e91e63;
}

#footer1 {
    display: flex;
    border-bottom: 2px solid #e91e63;
}

.column {
    flex: 1;
    padding: 20px;
    background-color: white;
}

.column h3 {
    font-size: 1.3rem;
    color: #d63384;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid #d63384;
    padding-bottom: 0.5rem;
    width: 100%;
}

.column ul {
    list-style: none;
    margin-bottom: 1.5rem;
    padding: 0;
}

.column ul li {
    margin-bottom: 0.8rem;
}

.column a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.column a:hover {
    color: #d63384;
    font-weight: bold;
}

.column p {
    margin-bottom: 1rem;
}

/* Redes sociales */
.social-buttons {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.social-btn img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.social-btn:hover img {
    transform: scale(1.2);
}

#derechos {
    margin-top: 20px;
    color: #880e4f;
    font-weight: bold;
}